* {
    margin: 0;
}
header {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
   margin-bottom: 50px;
   text-decoration: none;
}
.menu li{
    font-size: 20px;
    display: inline-block;
    padding: 7px;
    list-style-type: none;
}
li {
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
main {
    width: 80%;
    display: inline;
}
article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    line-height: 1.6;
    letter-spacing: .1px;
    width: 40%;
    margin-left: 20%;
    text-align: justify;
    margin-bottom: 50px;
    display: inline-block;
}
table {
    margin: auto;
}
table td {
    text-align: left;
    width: 40%
}
aside{
    width: 350px;
    height: 245px;
    margin: 10px;
    background-color: rgb(185, 194, 192);
    padding: 10px;
    display: inline-block;
    position: absolute;
    position: fixed;
}
footer {
    text-align: center;
    background-color: rgb(49, 93, 158);
    padding: 50px;
    clear: both;
}
