body{
    font-size: 16px;
}
h1 {font-family: sans-serif;
    font-size: 65px;
    color: orange

}
p{
    font-weight: 600;
    font-size: 3em;
}
ul {
    background-color: rgb(63, 124, 133);
    font-style: oblique;
    line-height: 30px;
}
.conteudo {
    background-color: chartreuse;
}
#amarelo {
    background-color: yellow;
}
#vermelho {
    background-color: red;
}
#marron {
    background-color: brown;
}